<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyh"
    android:versionCode="1"
    android:versionName="1.0" >
s
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />


    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />



    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ0_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required 一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />






    <application
        android:name="com.lmq.main.api.LocationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.lmq.main.activity.LogoActicity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lmq.menu.MainTabNewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.menu.activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.menu.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>

        <activity
            android:name="com.lmq.menu.activity.AccountActivityNew"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.menu.activity.MoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <activity
            android:name="com.lmq.view.CustomDetailView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name="com.lmq.view.ShowBannerViewDetail"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name="com.lmq.view.ShowWebImageView"
            android:theme="@style/Transparent" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.pay.ThirdPayActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.message.SitMessageInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.apply.ApplyForLinesActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9MXD4jGkAQxRkmKStmhYrp7B" />
        <!-- 宝付认证支付控制中心 开始-->
        <activity
            android:name="com.baofoo.sdk.vip.BaofooPayActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <!-- 宝付认证支付控制中心 结束-->
        <!-- 钱多多控制中心 -->
        <activity android:name="com.money.more.activity.ControllerActivity" >
        </activity>
        <!-- 转账界面 -->
        <activity
            android:name="com.money.more.activity.AccountActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <!-- 充值界面 -->
        <activity
            android:name="com.money.more.activity.RechargeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- 提现界面 -->
        <activity android:name="com.money.more.activity.WithdrawDepositActivity" >
        </activity>
        <!-- 绑定界面 -->
        <activity
            android:name="com.money.more.activity.BindActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- 授权接口 -->
        <activity
            android:name="com.money.more.activity.AuthorizationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <!-- 用户银行卡选择界面 -->
        <activity android:name="com.money.more.activity.UserCardActivity" />

        <!-- 用户信息收集界面 -->
        <activity android:name="com.money.more.activity.UserInfoActivity" />

        <!-- 三合一接口界面 add by hux 2015-7-17 14:09:11 -->
        <activity
            android:name="com.money.more.activity.ThreeinoneActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 注册接口第一步,填写密码界面 add by hux version:2.0.1 time:2016-4-12 13:14:14 -->
        <activity
            android:name="com.money.more.activity.RegisterFirstActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 注册接口设置安保问题界面  add by hux version:2.0.1 time:2016-4-14 11:26:27 -->
        <activity
            android:name="com.money.more.activity.SecurityActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 确定开户界面 add by hux version：2.0.1 time：2016-4-14 16:26:09 -->
        <activity
            android:name="com.money.more.activity.RegisterFinishActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.lmq.main.api.TabGroupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.register.RegisterStepFirstActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.register.RegisterStepSecondActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.register.RegisterPhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar">
        </activity>
        <activity
            android:name="com.lmq.main.activity.LoadIntroduceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.login.loginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.password.ForgotPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.tools.CalculateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.lmq.ybpay.YBPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.invest.investbuy.Tender_LZ_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:name="com.lmq.main.activity.invest.investbuy.Tender_PT_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.invest.investbuy.Tender_ZR_Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.lmq.main.activity.investmanager.borrowmanager.LendMoneyRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.borrowmanager.LendMoneyDialog"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.borrowmanager.LendMoneyDialogDoerase"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.borrowmanager.LendMoneyRecordDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>

        <!-- 双钱 充值提现 -->
        <activity
            android:name="com.lmq.pay.MoneyMoreMorePayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 双钱开户授权界面 -->
        <activity
            android:name="com.lmq.pay.MoneyMoreMoreSqActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity

            android:name="com.lmq.main.activity.invest.investdetail.InvestDetailType11"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.auto.AutoTenderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.debet.InvestManageDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.invest.InvestManagerDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.invest.investdetail.InvestDetailType101"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.invest.investdetail.InvestDetailType201"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.lmq.main.activity.tools.LMQWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.invest.investdetail.InvestDetailType301"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.news.itemNewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.tenderlogs.InvestLogsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.lmq.main.activity.user.info.UserInfoDeatilActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.register.ShowRegisterContextActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.investmanager.lhb.LHBDetailLogsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!--<activity-->
        <!--android:name="com.lmq.main.activity.user.manager.peopleInfoSafeActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.NoTitleBar" >-->
        <!--</activity>-->
        <activity
            android:name="com.lmq.main.activity.user.manager.bankinfo.ChoiceBankListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.withdrawal.WithDrawalAcitity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.withdrawal.WithDrawalAcitityYB"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.UploadUserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 登陆密码 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.password.ChangeLoginPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 新闻 -->
        <activity
            android:name="com.lmq.main.activity.news.NewsListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 公告 -->
        <activity
            android:name="com.lmq.main.activity.news.NoticeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>


        <!-- 意见反馈 -->
        <activity
            android:name="com.lmq.main.activity.more.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.pay.rbpay.RBPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.pay.rbpay.RBAutorBankCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.pay.rbpay.RBPayPhoneCoderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 我的账户_净资产 -->


        <!-- 投资管理 -->
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 关于我们 -->
        <activity
            android:name="com.lmq.main.activity.more.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <!-- 进行认证 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.idcard.PeopleInfoIdcard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 实名认证 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.idcard.PeopleInfoSmrz"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 修改手机号码 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.phone.ModifyUserApplyPhoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.phone.RevisePhoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 绑定邮箱地址 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.email.ApplyUserEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 绑定银行卡号 -->
        <!-- 添加银行卡信息 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.bankinfo.AddBankCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 更新银行卡信息 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.bankinfo.ModifyBankCardInfoAcitivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 显示银行卡信息 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.bankinfo.ShowBankCardInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 显示绑定银行卡信息 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.idcard.PeopleInfo_XS_backcard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 绑定银行卡号 -->

        <!-- 交易记录_新页面 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.tenderlogs.TenderLogsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.tenderlogs.MoneyRedcordDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.main.activity.user.manager.tenderlogs.TenderLogDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- 支付密码 -->
        <activity
            android:name="com.lmq.main.activity.user.manager.password.ChangeTenderPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>


        <!-- 锁屏 -->
        <activity
            android:name="com.lmq.gesture.UnlockGesturePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.lmq.gesture.CreateGesturePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 借款管理界面Activity -->
        <activity
            android:name="com.lmq.main.activity.borrow.ChoiceBorrowTypeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.lmq.main.activity.borrow.ApplyBorrowMoneyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.user.manager.apply.ApplyForMoneyLimitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <!-- 奖励管理界面Activity -->
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardWithCouponActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardWithCouponDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardWithRedEnvelopeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardWithInviteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.reward.RewardWithIntegralActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 投资管理界面Activity -->

        <activity
            android:name="com.lmq.main.activity.investmanager.InvestManagerMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.invest.InvestManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.lmq.main.activity.person.personinfo.PersoninfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.lmq.main.activity.person.personinfo.PersoninfoContactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.lmq.main.activity.person.personinfo.PersoninfoDepartmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.lmq.main.activity.person.personinfo.PersoninfoMoneyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.lmq.main.activity.investmanager.debet.InvestManagerDebetZR"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.lmq.main.activity.investmanager.debet.InvestManagerDebetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.lmq.main.activity.investmanager.lhb.LHBManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.lmq.main.activity.user.manager.tenderlogs.MoneyRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.investmanager.lhb.LHBDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.person.companyinfo.CompanyInfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.person.companyinfo.CompanyInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.person.companyinfo.CompanyUpload"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.person.personinfo.Personinfo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.person.personinfo.PersonInfoUpload"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.gesture.GuideGesturePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity android:name="com.lmq.pay.jdpay.JDPayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.lmq.main.activity.OpenThirdActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.Yb_InfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.main.activity.register.YbRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.zftpay.ZFTRechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.zftpay.ZFT_InfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.zftpay.ZFTAddBankCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.lmq.zftpay.ZFTRevisePhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing"
            android:theme="@android:style/Theme.NoTitleBar" />










        <!--=================================极光推送===================================-->

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />

            </intent-filter>
        </service>

        <!-- Required SDK 核心功能 since 1.8.0 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!--Required 显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name="com.lmq.push.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Required . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="1eceb960a37b133c0024dac7" /> <!-- </>值来自开发者平台取得的AppKey-->
    </application>
</manifest>